@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --red-hat-display: var(--font-red-hat-display);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-red-hat-display: var(--font-red-hat-display);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --red-hat-display: var(--font-red-hat-display);
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
